# Archivos y carpetas generados por Visual Studio y .NET

# Carpeta de compilación
[Bb]in/
[Oo]bj/

# Paquetes NuGet
*.nupkg
.nuget/
.vs/
.vspscc
*.suo
*.user
*.useros
*.sln.docstates

# Archivos de salida de prueba de consola (que se regeneran)
ConsoleDemo/output/

# Archivos temporales de compilación web
web/node_modules/